body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  .navbar {
    background-color: #1f1d1d;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    position: fixed;
  }

  .navbar a {
    color: hsl(0, 0%, 100%);
    padding: 14px 16px;
    text-decoration: none;
    display: inline-block;
  }

  .navbar a:hover {
    background-color: hsl(0, 0%, 98%);
    color: black;
  }

  /* For small devices */
  @media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {
      display: none;
    }

    .navbar a.icon {
      float: right;
      display: block;
    }
  }

  /* Side navigation for small devices */
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0b0b0b;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }